<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.9-dmr" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="7.0.7-m61" targetFramework="net452" />
  <package id="MySql.Web" version="8.0.9-dmr" targetFramework="net452" />
  <package id="NLog" version="5.0.0-beta11" targetFramework="net452" />
  <package id="WebMatrix.WebData" version="2.0.30506.0" targetFramework="net452" />
</packages>